# Dependencies
node_modules/

# Vercel
.vercel

# Environment variables (JANGAN pernah commit secret!)
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
.env*
